<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="MDX2JSON.MODULE"><Module>
 <Name>MDX2JSON</Name>
  <Version>0.0.1+snapshot</Version>
  <Packaging>module</Packaging>
  <LifecycleClass>MDX2JSON.Lifecycle</LifecycleClass>
  <Resources>
    <Resource Name="MDX2JSON.PKG">
    </Resource>
  </Resources> 
</Module>
</Document></Export>